.App {
  text-align: center;
  background-color:cadetblue;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:darkslategrey;
  min-height:3cm;
  display:grid;
  flex-direction: column;
  align-items: center;
  font-size:xx-large; 
  color:rgb(185, 185, 24);
}

.App-link {
  color:rgb(145, 8, 8);
  justify-content: flex-start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image{
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.text-at-edge{
  text-align:left;
}

.nav-link{
 display: flex;
 gap:10px
}

.navbar{
  display: flex;
  justify-content: space-between; /* Pushes logo to left, nav-links to right */
  align-items: center;            /* Centers them vertically */
  padding: 10px 20px;            /* Adds breathing room on the sides */
  width: 100%;
}

.card-pay{
  padding:10px;
}

